{% extends base_template %}

{% load bootstrap_tags %}
{% load crudelicia %}

{% block titulo_pagina %}
    <h2>{{ title|upper }}</h2>
    <em>{{ subtitle }}</em>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <h2>{{ title|title }} <small>{{ subtitle|title }}</small></h2>
                    </div>

                    <div class="widget-content">
                        <form class="form-horizontal"
                              method="post"
                              role="form"
                              {% if obj_form|is_multipart %}
                              enctype="multipart/form-data"
                              {% endif %}
                            >
                            {% csrf_token %}
                            <fieldset>
                                <legend>
                                    Informações Básicas
                                </legend>

                                {% for field in obj_form %}
                                    {{ field|boots_field }}
                                {% endfor %}

                            </fieldset>
                            {% include "comum/salvar_cancelar.html" %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}