{% extends base_template %}

{% load bootstrap_tags %}
{% block titulo_pagina %}
	<h2>EXCLUIR {{ model_name|upper }}</h2>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <h3>Você deseja excluir {{ obj }}?</h3>
                <br>
                <h4><p>Atenção: ao excluir <strong>{{ obj }}</strong>, você perderá todos os dados permanentemente.</p></h4>

                <form method='post'>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-default">Confirma</button>
                    <a href='{% url search_view %}' class="btn btn-sm btn-default">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}