{% extends base_template %}

{% load crudelicia %}

{% block titulo_pagina %}
	<h2><strong>{{ instance }}</strong></h2>
	<i>{{ instance|model_verbose_name }}</i>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-7">
		<div class="widget widget-table">
			<div class="widget-header">
				<h3><i class="fa fa-user"></i>Informações</h3>
			</div>
			
			<div class="widget-content">
				<table class="table table-hover">
					<tbody>
						{% for field in instance|detail_fields %}
							{{ instance|with_user:user|detail:field|safe }}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	
</div>	
{% endblock %}