{% extends base_template %}

{% load bootstrap_tags %}
{% load crudelicia %}
{% block titulo_pagina %}
    <h2>{{ title }}</h2>
    <em>{{ subtitle }}</em>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-header">
                    <h3><i class="fa fa-table"> {{ subtitle|title }} </i> </h3>
                </div>

                <div class="widget-content">
                    <form method="post">
                        {% csrf_token %}
                        <div class="md-col-9">
                            <fieldset>
                                <legend>
                                    Informações para Pesquisa
                                </legend>
                                <table>
                                    {% for field in search_form %}
                                        <td>
                                          {{ field|boots_field }}
                                        </td>
                                    {% endfor %}
                                </table>
                            </fieldset>
                        </div>
                        <br>
                        <div class="md-col-9">
                            <button type="submit" class="btn btn-primary">Pesquisar</button>
                        </div>
                    </form>
                    <table class="table table-bordered">
                        <td>
                            <thead>
                                <tr>
                                    {% for field in model|list_fields %}
                                       <th>{{ model|verbose_field_name:field }}</th>
                                    {% endfor %}
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for obj in objects %}
                                <tr>
                                    {% for field in model|list_fields %}
                                        <th>
                                            {% if forloop.first %}
                                                <a href="{% url detail_view obj.id %}">
                                            {% endif %}
                                                {{ obj|getattribute:field }}
                                            {% if forloop.first %}
                                                </a>
                                            {% endif %}
                                        </th>
                                    {% endfor %}
                                    <th>
                                        <a class="btn btn-primary btn-sm" href='{% url delete_view obj.id %}'>Excluir
                                    </th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}